$primary-color    : #FFFFFF;
$secondary-color  : #000000;
$third-color      : #fdcc56;
$fouth-color      : #000030;
$fifth-color      : #EBB604;
$sixth-color      : #335AA4;
$seventh-color    : #335AA4;
$eighth-color     : #3359A0;
$ninth-color      : #3359A0;
$tenth-color      : #2C4F90;

$bg-main-color    : $secondary-color;


/* Text Colors */
$primary-text-color   :  $primary-color;
$secondary-text-color :  $fifth-color;
$third-text-color     :  $third-color;
$fourth-text-color    :  $secondary-color;
$fifth-text-color     :  $eighth-color;


/* Buttons styles */
$primary-btn-bg   : $secondary-color;
$seconday-btn-bg  : $eighth-color;

/* Font Sizes */

/* H1 */
$h1-mobile  : 35px;
$h1-desktop : 60px; 

/* H2 */
$h2-mobile  : 19px; 
$h2-desktop : 45px;

/* Paragraph */
$primary-paragraph: 18px; 
$secondary-paragraph: 24px;

/* Subtitle */
$subtitle-mobile  : 25px;
$subttitle-desktop: 50px;

/* Breakpoints */
$breakpoints:
(
  s_phone   : 0,
  m_phone   : 428px,
  s_tablet  : 744px,
  m_tablet  : 834px,
  s_desktop : 1024px,
  m_desktop : 1440px
);

