.footer {
    background-color: $bg-main-color;
    border-top: 2px solid $fifth-color;
    padding: 40px 16px;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

    &__list {
        display: grid;
        padding: 0;
        list-style: none;
        justify-items: flex-start;
        margin: 0;
        grid-template-columns: 1fr;
        row-gap: 28px;
        
        @media (min-width: 769px) {
            grid-template-columns: 1fr 1fr;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            column-gap: 4rem;
        }

        @media (min-width: 1000px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: unset;
        }

        &--item {
            text-transform: uppercase;
            &:nth-child(2){
                order: 5;
            }
            &:nth-child(3){
                order: 10;
            }
            &:nth-child(4){
                order: 2;
            }
            &:nth-child(5){
                order: 6;
            }
            &:nth-child(6){
                order: 11;
            }
            &:nth-child(7){
                order: 3;
            }
            &:nth-child(8){
                order: 7;
            }
            &:nth-child(9){
                order:12;
            }
            &:nth-child(10){
                order: 9;
            }
            &:nth-child(11){
                order: 4;
            }
            &:nth-child(12){
                order: 8;
            }

            a {
                text-decoration: none;
                color: $secondary-text-color;
            }
            a:hover{
                color: $primary-color;
            }
            p{
                color: $secondary-text-color;
            }
        }
    }

}
.mobile-nav-container{
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: $third-color;
    z-index: 1000;
    &-content{
        width: 100%;
        max-width: 900px;
        display: flex;
        justify-content: space-evenly;
        padding: 0.2rem 0;
        .mobile-nav-items{
            display: flex;
            text-decoration: none;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 77px;
            color: $tenth-color;
            img{
                object-fit: contain;
            }
            
            span{
                margin-top: 5px;
                width: 100%;
                font-size: 12px;
                text-align: center;
                font-weight: 600;
            }
        }
        .mobile-nav-img-container{
            height: 40px;
        }
    @include from(1024px){
        display: none;
    }
    }
}